---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Right
AlignOperands: true
BreakBeforeBinaryOperators: true
ColumnLimit: 100
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 2
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IndentWidth: 2
NamespaceIndentation: None
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
SortUsingDeclarations: true
