---
Checks: '*,-google-readability*,-modernize*,-readability-redundant-declaration,-llvm-include-order,-hicpp-deprecated-headers,-fuchsia*,-llvm-namespace-comment,-readability-braces-around-statements,-hicpp-braces-around-statements,-google-build-using-namespace,-readability-isolate-declaration,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-implicit-bool-conversion,-cert-err09-cpp,-cert-err60-cpp,-cert-err61-cpp,-hicpp-no-array-decay,-misc-throw-by-value-catch-by-reference,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-type-reinterpret-cast,-performance-unnecessary-value-param,-readability-named-parameter,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-cppcoreguidelines-pro-type-vararg,-google-default-arguments,-cppcoreguidelines-owning-memory,-cppcoreguidelines-macro-usage,-bugprone-macro-parentheses,-hicpp-vararg,-bugprone-unused-raii,-readability-uppercase-literal-suffix,-hicpp-uppercase-literal-suffix,-google-runtime-int'
